body {
    background-color: #cbe0e3;
    background-image: url(https://img0.etsystatic.com/136/1/12676270/il_214x170.940556070_fmkp.jpg);
    background-repeat: repeat-y;
    background-attachment: relative;
    background-position: 90%;
    background-size: 600px 350px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  margin-left: 75px;
}

.album {
  font-family: 'Gurajada', serif;
  font-size: 2em;
  margin: -10px -10px -10px 75px;
}

.artist {
  font-family: 'Gurajada', serif;
  font-size: 1.5em;
  margin: -10px -10px -10px 75px;
}

hr {
  margin-left: 0px;
  width: 450px;
}