<h1>Update artist details</h1>

<form action="/artists" method="post">
<input type="hidden" name="_method" value="put">

  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @artist.name() %>" />

  <input type="submit" value="Update artist" />

</form>

<form action = "/artists/<%= @artist.id %>" method = "post">
<input type = "hidden" name = "_method" value = "delete" />
  
  <input type = "submit" value = "Delete artist" />

</form>